// {
//   "parserOptions": {
//     "ecmaVersion":2016
//   },
//   "env": {
//     "browser": true,
//     "es6": true,
//     "node":true
//   }
// }

root: true

env:
  browser: true

extends:
  "htmlacademy/es5"
