.form__field {
  margin-top: 20px;
  border: none;
  padding: 0;
  width: 100%;
}

.form__text {
  @include text(17px,28px,600,$basic-white);
  letter-spacing: -0.005em;
  text-align: center;
}

.form__input {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 30px;
  width: 100%;
  border-radius: 6px;

  &::placeholder {
    @include text(15px,24px,400,$placeholder);
    opacity: 0.5;
  }
}

.form__btn {
  @include text(15px,21px,600,$basic-black);
  background-color: $light-blue;
  padding: 15px 47px 15px 48px;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
}
