.intro__title {
  @include text(46px,64px,700,$basic-white);
  letter-spacing: -0.005em;
  margin-top: 30px;
}

.intro__text {
  @include text(20px,32px,300,$basic-white);
  letter-spacing: -0.005em;
  margin-top: 24px;
  opacity: 0.8;
}

@include tablet {
  .intro {
    margin-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }

  .intro__link {
    position: absolute;
    top: 25px;
    left: 21px;
  }


  .intro__title {
    font-size: 30px;
    line-height: 42px;
  }


  .intro__text {
    margin-top: 20px;
    max-width: 700px;
    min-height: 64px;
    margin: 0 auto;
    font-size: 18px;
  }

}
