.page-footer {
  padding: 150px calc((241 / 1440) * 100%) 96px calc((242 / 1440) * 100%);
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 564px;
  margin: 36px auto 0;
  padding-right: 18px;
  align-items: center;
}

.page-footer__link {
  @include text(16px,22px,400,$basic-black);
  display: inline-block;
  position: relative;
  align-items: center;
  opacity: 0.5;
  padding-left: 41px;

  &:hover,
  &:focus {
    text-decoration: underline;
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    content: url("../img/icon-mail.svg");
    top: 50%;
    transform: translateY(-38%);
    left: 0;
  }

  &--indent {
    @include text(16px,32px,400,$basic-black);
    padding-left: 33px;
    margin-left: -33px;
    transform: translateX(1px);
  }

  &--indent::before {
    position: absolute;
    content: url("../img/icon-phone.svg");
    top: 50%;
    transform: translateY(-50%);
    left: -3px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 70px calc((35 / 768) * 100%) 52px;
  }

  .page-footer__contacts {
    width: 558px;
    margin-top: 21px;
    margin-bottom: 0;
    padding-right: 11px;
  }

  .page-footer__link {
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding: 70px 0 50px;
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0;
    margin-top: 31px;
    margin-right: auto;
    text-align: center;
  }

  .page-footer__link {
    margin-right: 0;
    padding-left: 41px;
    margin: 0 auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-footer__link {
    padding-left: 47px;
    &::before {
      left: 7px;
    }

    &--indent {
      padding-left: 23px;
      margin-top: 24px;
    }

    &--indent::before {
      top: 50%;
      left: -11px;
    }
  }
}
