.page-header {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 825px;
    background-image: url("../img/bike-desktop@1x.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: $bg-header;
    z-index: -1;

    @include retina {
      background-image: url("../img/bike-desktop@2x.jpg");
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header::after {
    height: 340px;
    background-image: url("../img/bike-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header::after {
    height: 390px;
    background-image: url("../img/bike-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.page-header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto;
  padding: 254px 0 239px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 3px;
    width: 871.5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrap {
    flex-direction: column;
    width: auto;
    padding: 134px 50px 0;

    &::before {
      display: none;
    }
  }

  .page-header__wrap--no-js {
    background-color: $bg-header;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrap {
    padding: 120px 16px 0;
  }
}
