.page-main {
  min-height: calc(100vh - 159px);
}

@media (max-width: $tablet-width) {
  .page-main {
    min-height: calc(100vh - 97px);
  }
}

@media (max-width: $mobile-width) {
  .page-main {
    min-height: calc(100vh - 136px);
  }
}
