.page-footer {
  padding: 34px 0 93px;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 564px;
  margin: 0 auto;
  padding-right: 18px;
}

.page-footer__link {
  @include text(16px,32px,400,$basic-black);
  display: flex;
  position: relative;
  align-items: center;
  opacity: 0.5;

  &:hover,
  &:focus {
    text-decoration: underline;
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    content: url("../img/icon-mail.svg");
    top: 50%;
    transform: translateY(-38%);
    left: -41px;
  }

  &--indent::before {
    position: absolute;
    content: url("../img/icon-phone.svg");
    top: 50%;
    transform: translateY(-34%);
    left: -37px;
  }
}

.page-footer__icon {
  margin-right: 15px;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding: 21px 35px 52px;
  }

  .page-footer__contacts {
    width: 558px;
    padding-right: 11px;
  }

  .page-footer__link {
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding: 30px 21px 38px 31px;
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0;
  }

  .page-footer__link {
    margin-right: 0;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-footer__link--indent {
    padding-right: 17px;
  }
}
