.types {
  padding: 150px 109px 150px;
  text-align: center;
  background-color: #f6f7f9;
}

.types__title {
  @include block-title;
  margin-bottom: 49px;
  padding-right: 11px;
}

.types__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 36px 0 60px;
}

.types__item {
  position: relative;
  width: 30.5%;
  z-index: 2;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:first-child,
  &:nth-child(3n+1) {
    margin-top: 10px;
  }

  &:nth-child(3n+2) {
    margin-top: 39px;
  }
}

.types__item--indent {
  margin-top: 39px;
}

.types__link {
  display: inline-block;
  margin-bottom: 20px;
}

.types__link--road::before {
  position: absolute;
  content: "";
  top: 156px;
  left: -60px;
  width: 180px;
  height: 180px;
  border: 27px solid $turquoise;
  border-radius: 50%;
  z-index: -1;
}

.types__link--mountain::before,
.types__link--mountain::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 47px;
  border: 8px solid $turquoise;
}

.types__link--mountain::before {
  top: -18px;
  left: -19px;
}

.types__link--mountain::after {
  right: -23px;
  bottom: 31px;
}

.types__link--child::before {
  position: absolute;
  content: "";
  top: -32px;
  right: -36px;
  width: 95px;
  height: 95px;
  border: 17px solid $turquoise;
  border-radius: 50%;
}

.types__img {
  display: block;
  border-radius: 10px;
}

.types__item-title {
  @include text(22px,34px,600,$basic-black);
  letter-spacing: -0.5px;
}

@media (max-width: $tablet-width) {
  .types {
    padding: 49px 89px 16px;
  }

  .types__title {
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 24px;
    line-height: 41px;
  }

  .types__list {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
  }

  .types__item {
    width: auto;
    margin: 0 auto;
    margin-bottom: 52px;

    &:nth-child(odd) {
      margin-right: 50px;
    }

    &:nth-child(3n) {
      margin-right: auto;
    }

    &:first-child,
    &:nth-child(3n+1) {
      margin-top: 0;
    }

    &:nth-child(3n+2) {
      margin-top: 0;
    }
  }

  .types__item--indent {
    margin-top: 0;
  }

  .types__link--road::before {
    top: auto;
    left: -37px;
    bottom: 26px;
    width: 127px;
    height: 127px;
    border: 18px solid $turquoise;
  }

  .types__link--mountain::before,
  .types__link--mountain::after {
    display: none;
  }

  .types__link--child::before {
    top: -20px;
    right: -25px;
    width: 68px;
    height: 68px;
    border: 13px solid $turquoise;
  }
}

@media (max-width: $mobile-width) {
  .types {
    padding: 50px 25px 12px;
  }

  .types__list {
    flex-direction: column;
  }

  .types__item {
    margin-bottom: 42px;

    &:nth-child(odd) {
      margin-right: auto;
    }
  }

  .types__link--road::before {
    left: -24px;
  }

  .types__link--child::before {
    right: -15px;
  }
}
