$basic-white: #ffffff;
$basic-black: #000000;
$grey1: #e5e5e5;
$types-back: #f6f7f9;
$back-video: #131314;
$block-title: #1f1f1f;
$turquoise: #0ad9c6;
$placeholder: #1c1c1c;
$bg-header: #3a3a3a;
$bg-nav-item: #f6f6f6;
$grey: #48494d;
$border: #c9ccd4;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$tablet-width: 1023px;
$mobile-width: 767px;
