$basic-white: #ffffff;
$basic-black: #000000;
$grey1: #e5e5e5;
$types-back: #F6F7F9;
$back-video: #131314;
$block-title: #1f1f1f;
$light-blue: #0ad9c6;
$placeholder: #1c1c1c;
$bg-header: #3a3a3a;
$bg-nav-item: #f6f6f6;
$grey: #48494d;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
